/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(103, 84, 96, 1) 35%,
    rgba(0, 114, 138, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
}
